<template>
  <div>
    <textarea v-model="text" placeholder="Message to tweet"></textarea>
    <button @click="onClick">Send</button>
    <br />
    Result: {{ result }}
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { tweet } from "../twitter-api/api";
import { getModule } from "vuex-module-decorators";
import CredentialModule from "../store/credentialmodule";

@Component
export default class Composer extends Vue {
  text: string = "";
  result: string = "";

  async onClick(): Promise<void> {
    const storeCredential = getModule(CredentialModule, this.$store);

    if (!storeCredential.currentCredential) {
      throw new Error("Current credential not initialized.");
    }

    this.result = JSON.stringify(
      await tweet(storeCredential.currentCredential, this.text)
    );
    this.text = "";
  }
}
</script>
