<template>
  <div>
    <button @click="onClick">Refresh</button>
    <br />
    {{ rateLimiting }}
    <br />
    Error: {{ errorMsg }}
    <br />
    <TweetComponent
      v-for="tweet in tweets"
      v-bind:tweet="tweet"
      :key="tweet.id_str"
    >
    </TweetComponent>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { fold } from "fp-ts/lib/Either";
import { pipe } from "fp-ts/lib/pipeable";
import { getModule } from "vuex-module-decorators";
import CredentialModule from "../store/credentialmodule";
import TweetComponent from "./TweetComponent.vue";
import { getHomeTimeline } from "../twitter-api/api";
import { Tweet } from "../twitter-api/tweet";

@Component({
  components: {
    TweetComponent
  }
})
export default class Timeline extends Vue {
  tweets: Tweet[] = [];
  rateLimiting: string = "";
  errorMsg: string = "";

  async onClick(): Promise<void> {
    const storeCredential = getModule(CredentialModule, this.$store);

    if (!storeCredential.currentCredential) {
      throw new Error("Current credential not initialized.");
    }

    const result = await getHomeTimeline(storeCredential.currentCredential);
    if (result["rate-limit"]) {
      this.rateLimiting = JSON.stringify(result["rate-limit"]);
    }
    pipe(
      result,
      fold(
        errorResponse => {
          this.errorMsg = JSON.stringify(errorResponse);
        },
        tweets => {
          this.errorMsg = "";
          this.tweets = tweets;
        }
      )
    );
  }
}
</script>
