<template>
  <div class="flex root">
    <img
      class="profile-image"
      v-bind:src="originalTweet.user.profile_image_url_https"
    />
    <div class="flex-vertical flex-grow-one">
      <span v-show="tweet.retweeted_status">
        Retweeted by <span>{{ tweet.user.name }}</span
        >&nbsp;
        <span class="screen_name">@{{ tweet.user.screen_name }}</span> ({{
          time(tweet)
        }})
        <br />
      </span>
      <span class="flex-space-between">
        <span>
          <span>{{ originalTweet.user.name }}</span
          >&nbsp;<span class="screen_name"
            >@{{ originalTweet.user.screen_name }}</span
          >
        </span>
        <span>{{ time(originalTweet) }}</span>
      </span>
      <br />
      <span class="text">
        {{ originalTweet.full_text }}
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop } from "vue-property-decorator";
import { Tweet } from "../twitter-api/tweet";
import * as dateFns from "date-fns";

@Component
export default class TweetComponent extends Vue {
  @Prop({ type: Object, required: true }) readonly tweet!: Tweet;

  // Computed properties
  get originalTweet(): Tweet {
    if (this.tweet.retweeted_status) {
      // If this is a retweet, then return the original.
      return this.tweet.retweeted_status;
    } else {
      return this.tweet;
    }
  }

  // Methods
  time(tweet: Tweet): string {
    const date = dateFns.parse(
      tweet.created_at,
      "EEE MMM dd HH:mm:ss xx yyyy",
      0
    );
    return dateFns.format(date, "yyyy-MM-dd HH:mm:ss xx");
  }
}
</script>

<style>
.root {
  border: 1px solid;
  text-align: justify;
}

.flex {
  display: flex;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-grow-one {
  flex-grow: 1;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.profile-image {
  object-fit: contain;
}

.screen_name {
  font-size: 0.8em;
}
</style>
