<template>
  <div id="app">
    <Composer />
    <br />
    <Timeline />
    <br />
    <img alt="Vue logo" src="./assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js + TypeScript App" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Composer from "./components/Composer.vue";
import Timeline from "./components/Timeline.vue";
import HelloWorld from "./components/HelloWorld.vue";
import { getModule } from "vuex-module-decorators";
import CredentialModule from "./store/credentialmodule";

@Component({
  components: {
    Composer,
    Timeline,
    HelloWorld
  }
})
export default class App extends Vue {
  created() {
    const storeCredential = getModule(CredentialModule, this.$store);
    storeCredential.initializeCredential();
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
